<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.enst.pact34.whistlepro.app">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.v1.NewMorceauActivity" />
        <activity android:name=".NewPisteConfig" />
        <activity android:name=".NewPisteRecord" />
        <activity android:name=".NewPisteRecordDone" />
        <activity android:name=".activities.v1.OpenMorceau" android:screenOrientation="landscape"/>
        <activity android:name=".activities.v1.TrackListActivity" />
    </application>

</manifest>
